.content-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h3 {
    color: #fff;
}

.hero-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.hero-block img {
    height: 40px;
    width: 40px;
    background: pink;
    padding: 10px;
    border-radius: 50%;
}

.hero-block h3 {
    font-size: 28px;
    line-height: 30px;
    margin-top: 10px;
}

.Form-block {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-block {
    margin-left: 28px;
}

.check-block span {
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}


.Form-block input {
    width: 340px;
    height: 40px;
    border: 1px solid gray;
    background: transparent;
    outline: none;
    margin-top: 15px;
    padding-left: 10px;
}

.Form-block input[type="text"] {
    color: #fff;
}

.checkbox {
    width: 20px !important;
    height: 20px !important;
}

.info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.info-block a {
    font-size: 12px;
    text-decoration: none;
    color: lightblue;
    font-weight: bold;
}

.person-form-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.person-form-block input {
    width: 150px;
    margin-right: 15px;
    margin-left: 15px;
}

.subinfo {
    font-weight: bold;
    font-size: 14px;
}

.password-box {
    position: relative;
}

.password-box img {
    position: absolute;
    right: 10px;
    top: 16px;
    width: 40px;
    height: 40px;

}